name: test_merchant_rewards_webapp
description: A Merchant Rewards Web Application
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  # Assets for images, icons, and other design files
  assets:
    - assets/images/
    # You can also add specific files or subdirectories:
    # - assets/images/logo.png
    # - assets/images/icons/
